@media (min-width: 1900px) {
  #todo-list-container{
    width: 30%;
  }
}

@media (max-width: 1410px) {
  #todo-list-container{
    width: 60%;
  }
}

@media (max-width: 950px) {
  #todo-list-container{
    width: 80%;
  }
}

@media (max-width: 690px) {
  #todo-list-container{
    width: 95%;
    padding: 30px 10px;
  }

  #new-todo-input {
    width: 70%;
  }

  #new-todo-button {
    width: 30%;
  }
}

@media (max-width: 450px ){
  #new-todo-container {
    padding: 20px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #new-todo-input {
    width: 100%
  }

  #new-todo-button {
    width: 100px;
    height: 40px;
  }

  .todo-item {
    font-size: .9rem;
  }

  .todo-btn {
    font-size: .8rem;
    padding: 3px 10px;
  }
}